@attribute [Route(Routes.NUEVO_CAMPO_HOMOLOGACION)]
@attribute [Route(Routes.EDITAR_CAMPO_HOMOLOGACION)]
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using Infractruture.Interfaces;
@using Infractruture.Models;
@using SharedApp.Dtos
@attribute [Authorize]
@inject NavigationManager NavigationManager

@*
    /// <summary>
    /// Page: Formulario de Esquema
    /// Concepto: Formulario que registra un nuevo campo de homologacion o lo edita.
    /// </summary>
*@
<PageTitle>Formulario de Esquema</PageTitle>

<EditForm Model="homologacion" OnValidSubmit="GuardarHomologacion">

	<DataAnnotationsValidator />

	<!-- Título -->
	<div class="ds-title-section">
		<h2 class="ds-title-h2">Administración <span>Actualizar / Registrar [@homologacionGrupo?.MostrarWeb]</span></h2>
	</div>


	<div class="ds-content-section full">

		<div class="row">
			<div class="col-md-6">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Vista Código Homologado</label>
				<InputText @bind-Value="homologacion.NombreHomologado" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
				<ValidationMessage For="(()=>homologacion.NombreHomologado)" />
			</div>

			<div class="col-md-6">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Texto a Mostrar en la Web</label>
				<InputText @bind-Value="homologacion.MostrarWeb" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
				<ValidationMessage For="(()=>homologacion.MostrarWeb)" />
			</div>

			<div class="col-md-12">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Tooltip Web</label>
				<InputText @bind-Value="homologacion.TooltipWeb" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
				<ValidationMessage For="(()=>homologacion.TooltipWeb)" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Indexar</label>
				<Switch @bind-Value="isIndexar" Class="label valign-text-middle inter-regular-normal-comet-16px" />
				<div class="mt-3"><b class="inter-regular-normal-comet-14px">@(isIndexar ? "SI" : "NO")</b></div>
				<ValidationMessage For="(() => homologacion.Indexar)" />
			</div>
			<div class="col-4">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Mostrar</label>
				<Switch @bind-Value="isMostrar" Class="label valign-text-middle inter-regular-normal-comet-16px" />
				<div class="mt-3"><b class="inter-regular-normal-comet-14px">@(isMostrar ? "SI" : "NO")</b></div>
				<ValidationMessage For="(() => homologacion.Indexar)" />
			</div>
			@if (isIndexar)
			{
				<div class="col-4">
					<label class="label valign-text-middle inter-regular-normal-comet-16px">Ligar al filtro</label>
					<select class="form-control inter-regular-normal-comet-14px" @onchange="ActualizarFiltro" value="@homologacion.IdHomologacionFiltro">
						<option value= Constantes.VACIO>Sin Filtro</option>
						@foreach (var filtro in filtros)
						{
							<option value="@filtro.IdHomologacion">@filtro.MostrarWeb</option>
						}
					</select>
					<ValidationMessage For="(() => homologacion.IdHomologacionFiltro)" />
				</div>
			}
		</div>

		<div class="form-group row py-2">
			<div class="col-md-4">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Tipo de Dato</label>
				<div style="margin-top: 2% !important;">
					<Dropdown AutoClose="true" Class="inter-regular-normal-comet-14px">
						<DropdownToggleButton Color="ButtonColor.Secondary">
							@homologacion?.MascaraDato
						</DropdownToggleButton>
						<DropdownMenu>
							<DropdownItem Class="inter-regular-normal-comet-14px" @onclick="@(() => OnAutoCompleteChanged("TEXTO"))">TEXTO</DropdownItem>
							<DropdownItem Class="inter-regular-normal-comet-14px" @onclick="@(() => OnAutoCompleteChanged("FECHA"))">FECHA</DropdownItem>
							<DropdownItem Class="inter-regular-normal-comet-14px" @onclick="@(() => OnAutoCompleteChanged("NUMERICO"))">NUMERICO</DropdownItem>
						</DropdownMenu>
					</Dropdown>
					<ValidationMessage For="(()=>homologacion.MascaraDato)" />
				</div>
			</div>

			<div class="col-md-4">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Si No Hay Dato</label>
				<InputText @bind-Value="homologacion.SiNoHayDato" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." maxlength="10" style="margin-top: 2% !important;" />
				<ValidationMessage For="(()=>homologacion.SiNoHayDato)" />
			</div>

			<div class="col-md-4">
				<label class="label valign-text-middle inter-regular-normal-comet-16px">Ancho Columna</label>
				<InputNumber @bind-Value="homologacion.AnchoColumna" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
				<ValidationMessage For="(()=>homologacion.AnchoColumna)" />
			</div>
		</div>
	</div>

	<div class="ds-buttons-content">
		<a @onclick="Regresar">
			<div class="ds-btn-general ds-btn-red">
				<img class="icons" src="admin/img/icons.svg" alt="Icons">
				<div class="button-1 headingheadline4-h4">Regresar</div>
			</div>
		</a>
		<div class="ds-buttons-content">
			<Button type="ButtonType.Submit" @ref="saveButton" class="ds-btn-general ds-btn-blue">
				<div class="button-3 headingheadline4-h4">Guardar</div>
			</Button>
		</div>
	</div>

</EditForm>


