@attribute [Route(Routes.SINONIMOS)]
@layout AdminLayout

<link href="css/sinonimos.css" rel="stylesheet">

<!-- Título -->
<div class="ds-title-section">
	<h2 class="ds-title-h2">Administración <span>Sinonimos</span></h2>
</div>

@if (thesauro is null)
{
	<p>Cargando...</p>
}
else
{
	<div class="div_flex ancho_100 margin_botton">

		@if (this.usuarioLogin == Constantes.KEY_USER_CAN)
		{
			<div class="div_flex_buttom ancho_100">
				<div>
					<a class="ds-btn-general btn_control_guardar ancho_100" @onclick="() => GuardarThesauro()">Guardar</a>
				</div>
				<div >
					<a class="ds-btn-general btn_control_bat ancho_100" @onclick="() => NuevaSeccion()">Nueva Sección</a>
				</div>
				<div>
					<a class="ds-btn-general btn_control_bat ancho_100" @onclick="() => EjecutarBat()" disabled="@isPublicacionDesabilitada">Publicar</a>
				</div>			
			</div>

		}
		<div class="div_flex ancho_100 margin_b_10 margin_t_10">
			<input type="text" placeholder="Ingrese el sinonimo a buscar" @bind="sinonimoBuscar" @oninput="MostarTodos" class="ancho_70 input_control" />
			<Button class="ancho_30 btn_control" @onclick="() => BuscarSinonimo()">Buscar Sinonimo</Button>
		</div>

	</div>

	<div class="accordion" id="accordionThesaurus">

		@foreach (var (expansion, i) in thesauro.Expansions.Select((value, index) => (value, index)))
		{
			var collapseId = $"collapse{i}";

			<div class="accordion-item">
				<h2 class="accordion-header div_flex_secction" id="heading@i">
					@if (this.usuarioLogin == Constantes.KEY_USER_CAN)
					{
						<button class="btn btn-danger btn-sm mt-0 ancho_4" @onclick="()=> AbrirModalQuitarSeccion(i)">-</button>
					}
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId">
						Seccion
					</button>

				</h2>
				<div id="@collapseId" class="accordion-collapse collapse" data-bs-parent="#accordionThesaurus">
					<div class="accordion-body">
						@if (this.usuarioLogin == Constantes.KEY_USER_CAN)
						{
							<button class="btn btn-primary btn-sm mt-2" @onclick="() => AbrirModal(i)">Agregar</button>
						}
						<ul class="list-group">
							@foreach (var substitute in expansion.Substitutes)
							{
								<li class="list-group-item li-flex paddign_10">
									<label>@substitute</label>
									@if (this.usuarioLogin == Constantes.KEY_USER_CAN)
									{
										<button class="btn btn-danger btn-sm mt-2" @onclick="() => AbrirModalQuitarSinonimo(i,substitute)">-</button>
									}
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		}
	</div>

	if (isMensajeGuardar)
	{
		if (isMensajeGuardarExitoso)
		{
			<div class="mnjRegistroExitoso">@mensajeGuardar</div>
		}
		else
		{
			<div class="mnjRegistroError">@mensajeGuardar</div>
		}

	}
}

<div class="modal fade @(modalAbierto ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agregar Sinonimo</h5>
				<button type="button" class="btn-close" @onclick="CerrarModal"></button>
			</div>
			<div class="modal-body">
				@* <input type="text" class="form-control" @bind="nuevoSubstituto" placeholder="Ingrese el sinonimo"> *@
				<div class="input-group">
					<input type="text" @bind="nuevoSubstituto" @oninput="OnSearchChanged" class="form-control" list="suggestions" placeholder="Ingrese el sinonimo" />
					<datalist id="suggestions">
						@foreach (var word in ListFnPredictWordsDto)
						{
							<option value="@word.Word"></option>
						}
					</datalist>
				</div>
				@{
					if (isMensaje)
					{
						<div class="mnjError">@mensajeGuardar</div>
					}
				}
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
				<button class="btn btn-primary" @onclick="AgregarSubstituto">Guardar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade @(modalQuitarSinonimoAbierto ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Sinonimo</h5>
				<button type="button" class="btn-close" @onclick="CerrarModal"></button>
			</div>
			<div class="modal-body">
				<label>¿Desea quitar el sinonimo seleccionado?</label>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" @onclick="QuitarSubstituto">Si</button>
				<button class="btn btn-primary" @onclick="CerrarModal">No</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade @(modalQuitarSeccion ? "show d-block" : "d-none")" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Sinonimo</h5>
				<button type="button" class="btn-close" @onclick="CerrarModal"></button>
			</div>
			<div class="modal-body">
				<label>¿Desea quitar la sección seleccionada?</label>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" @onclick="QuitarSeccion">Si</button>
				<button class="btn btn-primary" @onclick="CerrarModal">No</button>
			</div>
		</div>
	</div>
</div>