@attribute [Route(Routes.GRUPO)]
@layout AdminLayout
@using OfficeOpenXml
@using SharedApp.Dtos
@inject IJSRuntime JSRuntime
@using System.IO
@using System.Text
@using iTextSharp.text
@using iTextSharp.text.pdf

<PageTitle>Homologación</PageTitle>

<div class="ds-title-section">

	<h2 class="ds-title-h2">Administración <span>Entidades</span></h2>

	<div class="ds-buttons-content">
		<!-- Botón Exportar a Excel -->
		<a href="javascript:void(0)" class="ds-btn-general ds-btn-blue" @onclick="ExportarExcel">
			<img src="images/admin/ico-excel-blue.svg"
				 width="19" height="19"> Excel
		</a>

		<!-- Botón Exportar a PDF -->
		<a href="javascript:void(0)" class="ds-btn-general ds-btn-red" @onclick="ExportarPDF">
			<img src="images/admin/ico-file-pdf-ref.svg"
				 width="19" height="19">PDF
		</a>
	</div>

</div>

<div class="table-responsive">
	@if (isLoading)
	{
		<div class="d-flex justify-content-center align-items-center" style="height: 300px;">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Cargando...</span>
			</div>
		</div>
	}
	else
	{
		<table class="general table">
			<thead>
				<tr>
					@foreach (var column in new[]
										{
				(nameof(HomologacionDto.MostrarWeb), "Texto a Mostrar en la Web"),
				(nameof(HomologacionDto.TooltipWeb), "Tooltip Web")
				})
					{
						<th @onclick="() => OrdenarPor(column.Item1)">
							@column.Item2 @(sortColumn == column.Item1 ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
						</th>
					}
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				@if (listaHomologacions != null && listaHomologacions.Any())
				{
					@foreach (var homologacion in PaginatedItems)
					{
						<tr class="@(homologacion.MostrarWebOrden == 1 ? Constantes.TABLA_PRIMARIA :  Constantes.VACIO)">
							<td>@homologacion.MostrarWeb</td>
							<td>@homologacion.TooltipWeb</td>
							<td>
								<Tooltip Title="Editar registro">
									<Button Type="ButtonType.Link"
											Color="ButtonColor.Secondary"
											Outline="true"
											To="@($"{Routes.EDITAR_GRUPO}{homologacion.IdHomologacion}")"
											Size="ButtonSize.Small">
										<Icon Name="IconName.PencilSquare" />
									</Button>
								</Tooltip>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="3">No hay datos disponibles.</td>
					</tr>
				}
			</tbody>
		</table>

		<!-- Controles de paginación -->
		<div class="pagination-container">
			<button class="btn btn-primary btn-sm" @onclick="PreviousPage" disabled="@(!CanGoPrevious)">⏪</button>
			<span class="pagination-text inter-regular-normal-comet-14px">Página @CurrentPage de @TotalPages</span>
			<button class="btn btn-primary btn-sm" @onclick="NextPage" disabled="@(!CanGoNext)">⏩</button>
		</div>
	}
</div>


<div class="form-row py-2">
	<Alert Color="AlertColor.Secondary" Dismissable="false">
		<Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
		<span class="text-white label valign-text-middle inter-regular-normal-comet-16px">Registro para organización lógico [No es filtro]</span>
	</Alert>
</div>
