@attribute [Route(Routes.ONA)]
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using SharedApp.Dtos
@attribute [Authorize]

<div class="ds-title-section">

	<h2 class="ds-title-h2">Administración <span>ONA</span></h2>

	<div class="ds-buttons-content">
		<!-- Botón Exportar a Excel -->
		<a href="javascript:void(0)" class="ds-btn-general ds-btn-blue" @onclick="ExportarExcel">
			<img src="images/admin/ico-excel-blue.svg"
				 width="19" height="19"> Excel
		</a>

		<!-- Botón Exportar a PDF -->
		<a href="javascript:void(0)" class="ds-btn-general ds-btn-red" @onclick="ExportarPDF">
			<img src="images/admin/ico-file-pdf-ref.svg"
				 width="19" height="19">PDF
		</a>


		<a href="@Routes.NUEVO_ONA" class="ds-btn-general ds-btn-yellow">
			<div class="button-3 headingheadline4-h4">Nuevo ona</div>
		</a>

	</div>

</div>

<div class="ds-content-section full">

	@if (isLoading)
	{
		<div class="d-flex justify-content-center align-items-center" style="height: 300px;">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Cargando...</span>
			</div>
		</div>
	}
	else
	{
		<table class="general table">
			<thead>
				<tr>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.RazonSocial))">
						Razón Social @(sortColumn == nameof(OnaDto.RazonSocial) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.Siglas))">
						Siglas @(sortColumn == nameof(OnaDto.Siglas) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.Ciudad))">
						Ciudad @(sortColumn == nameof(OnaDto.Ciudad) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.Correo))">
						Correo @(sortColumn == nameof(OnaDto.Correo) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.Direccion))">
						Dirección @(sortColumn == nameof(OnaDto.Direccion) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.PaginaWeb))">
						Página Web @(sortColumn == nameof(OnaDto.PaginaWeb) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th @onclick="() => OrdenarPor(nameof(OnaDto.Telefono))">
						Teléfono @(sortColumn == nameof(OnaDto.Telefono) ? (sortAscending ? Constantes.FLECHA_ARRIBA : Constantes.FLECHA_ABAJO) : Constantes.VACIO)
					</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				@if (listaONAs != null && listaONAs.Any())
				{
					@foreach (var ona in PaginatedItems)
					{
						<tr>
							<td title="@ona.RazonSocial">@ona.RazonSocial</td>
							<td title="@ona.Siglas">@ona.Siglas</td>
							<td title="@ona.Ciudad">@ona.Ciudad</td>
							<td title="@ona.Correo">@ona.Correo</td>
							<td title="@ona.Direccion">@ona.Direccion</td>
							<td title="@ona.PaginaWeb">@ona.PaginaWeb</td>
							<td title="@ona.Telefono">@ona.Telefono</td>
							<td>
								<Tooltip Title="Editar registro">
									<Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"{Routes.EDITAR_ONA}{ona.IdONA}")" Size="ButtonSize.Small">
										<Icon Name="IconName.PencilSquare" />
									</Button>
								</Tooltip>
							</td>
							<td>
								<Tooltip Title="Eliminar registro">
									<Button id=Constantes.BTN_DELETE @ref="saveButton" Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true" Size="ButtonSize.Small" @onclick=@(() => OpenDeleteModal(ona.IdONA))>
										<Icon Name="IconName.Trash" />
									</Button>
								</Tooltip>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td title=Constantes.VACIO colspan="9">No hay datos disponibles.</td>
					</tr>
				}
			</tbody>
		</table>

		<!-- Controles de paginación -->
		<div class="pagination-container">
			<button class="btn btn-primary btn-sm" @onclick="PreviousPage" disabled="@(!CanGoPrevious)">⏪</button>
			<span class="pagination-text inter-regular-normal-comet-14px">Página @CurrentPage de @TotalPages</span>
			<button class="btn btn-primary btn-sm" @onclick="NextPage" disabled="@(!CanGoNext)">⏩</button>
		</div>
	}
</div>


@if (showModal)
{
	<div class="modal show d-block" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title inter-regular-normal-comet-14px">Confirmar Eliminación</h5>
					<button type="button" class="btn-close inter-regular-normal-comet-14px" aria-label="Close"
							@onclick="CloseModal"></button>
				</div>
				<div class="modal-body">
					<p class="label valign-text-middle inter-regular-normal-comet-14px">¿Está seguro que desea eliminar este registro?</p>
				</div>
				<div class="modal-footer">
					<Button Color="ButtonColor.Danger" @onclick=@(() => ConfirmDelete())>Eliminar</Button>
					<Button Color="ButtonColor.Secondary" @onclick=@(() => CloseModal())>Cancelar</Button>
				</div>
			</div>
		</div>
	</div>
}