@using Infractruture.Models;
@using SharedApp.Dtos;

@if (datosListos  && Columnas != null)
{
    <Grid @ref="gridRef" TItem="DataHomologacionEsquema"
          class="table table-hover table-bordered table-striped grid-custom-style"
          DataProvider="HomologacionEsquemasDataProvider"
          Responsive="true"
          FixedHeader="true"
          Height="350"
          AllowSorting="true"
          ShowFilterRow="true"
          Style="font-size: 10px !important;">

        @foreach (var item in Columnas)
        {
            <GridColumn TItem="DataHomologacionEsquema"
                        Sortable="true"
                        Filterable="false">
                @* importante Filterable=false ya que es manual *@

                <HeaderContent>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <Tooltip Title="@item.TooltipWeb">
                            <span style="font-weight: bold;">@item.MostrarWeb</span>
                        </Tooltip>

                        <select class="form-select form-select-sm"
                                style="font-size: 10px; margin-top: 5px;"
                                @onchange="@(e => CambiarOperadorFiltro(item.IdHomologacion, e.Value?.ToString() ?? ""))">
                            <option value="contains">Contiene</option>
                            <option value="starts">Empieza con</option>
                            <option value="ends">Termina con</option>
                        </select>

                        <input type="text"
                               class="form-control form-control-sm"
                               placeholder="Filtrar..."
                               style="width: 100%; font-size: 10px; margin-top: 5px;"
                               @oninput="@(e => FiltrarTabla(item.IdHomologacion, e.Value?.ToString() ?? ""))" />
                    </div>
                </HeaderContent>



                <ChildContent Context="context">
                    @{
                        var dato = context?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == item.IdHomologacion)?.Data;
                    }

                   @*  @if (dato != null && dato.Contains("$$") && (item.IdHomologacion == 64 || item.IdHomologacion == 72 || item.IdHomologacion == 73))
                    {
                        string formulaExtraida = ExtraerFormula(dato);
                        <div class="latex-wrapper">
                            <span class="latex-formula">@((MarkupString)$"\\({formulaExtraida}\\)")</span>
                        </div>
                    }
                    else
                    {
                        @((MarkupString)dato)
                    } *@
                </ChildContent>
            </GridColumn>
        }
    </Grid>
}
