@* @page "/bitacora" *@
@attribute [Route(Routes.BITACORA)]
@layout AdminLayout
@using OfficeOpenXml
@using SharedApp.Dtos
@inject IJSRuntime JSRuntime
@using System.IO
@using System.Text
@using iTextSharp.text
@using iTextSharp.text.pdf


<PageTitle>Bitácora</PageTitle>

<h1 class="title headlineheadline2-h2">Bitácora</h1>

<!-- Primera fila: Selección de ONA, Fechas y Botones de Acción -->
<div class="row py-2 align-items-end">
    <!-- Combo Box ONA -->
    <div class="col-md-3">
        <label class="label valign-text-middle inter-regular-normal-comet-16px">Vista</label>
        <select id="onaSelect" class="form-control inter-regular-normal-comet-14px" @bind="selectedOna">
            <option value= Constantes.VACIO selected disabled>Seleccionar Vista</option>
            @if (listaONAs != null)
            {
                @foreach (var opcion in listaONAs)
                {
                    <option value="@opcion.IdONA">@opcion.Siglas</option>
                }
            }
        </select>
    </div>

    <!-- Calendario Fecha Inicio -->
    <div class="col-md-2">
        <label class="label valign-text-middle inter-regular-normal-comet-16px">Fecha Inicio</label>
        <input type="date" class="form-control inter-regular-normal-comet-14px"
               @bind="fechaInicio" @bind:event="onchange">
    </div>

    <!-- Calendario Fecha Fin -->
    <div class="col-md-2">
        <label class="label valign-text-middle inter-regular-normal-comet-16px">Fecha Fin</label>
        <input type="date" class="form-control inter-regular-normal-comet-14px"
               @bind="fechaFin" @bind:event="onchange">
    </div>

    <!-- Contenedor para alinear los botones a la derecha -->
    <div class="col-md-5 d-flex justify-content-end">
        <!-- Botón Buscar -->
        <Button id="btnBuscar" Type="ButtonType.Button" Color="ButtonColor.Primary" Outline="true" class="me-2"
                @onclick="async () => await BuscarDatos()">
            <Icon Name="IconName.Search" />
            <span class="ms-2 btnExp">Buscar</span>
        </Button>

        <!-- Botón Eliminar -->
        <Button id=Constantes.BTN_DELETE Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true"
                @onclick="async () => await EliminarRegistro()">
            <Icon Name="IconName.Trash" />
            <span class="ms-2 btnExp">Eliminar</span>
        </Button>
    </div>
</div>

<!-- Segunda fila: Botones de exportación -->
<div class="text-end my-3 d-flex justify-content-between">
    <div class="d-flex">
        <!-- Botón Exportar a Excel -->
        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Outline="true" class="me-2" @onclick="ExportarExcel">
            <Icon Name="IconName.FileEarmarkArrowDown" />
            <span class="ms-2 btnExp">Exportar a Excel</span>
        </Button>

        <!-- Botón Exportar a PDF -->
        <Button Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true" class="me-2" @onclick="ExportarPDF">
            <Icon Name="IconName.FileEarmarkPdf" />
            <span class="ms-2 btnExp">Exportar a PDF</span>
        </Button>
    </div>
</div>

<div class="table table-1">
    <div class="table-heading table-1">
        <article class="table-heading-1 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.IdLogMigracion))">
            <div class="header-label-1">
                <div class="label-heading headingheadline5-h5">
                    Cod. Homologación Rol @(sortColumn == nameof(LogMigracionDto.IdLogMigracion) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-2 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.EsquemaVista))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Cod. Homologación Menú @(sortColumn == nameof(LogMigracionDto.EsquemaVista) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-1 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.Estado))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Nombre Usuario @(sortColumn == nameof(LogMigracionDto.Estado) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-1 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.Inicio))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Nombre Control @(sortColumn == nameof(LogMigracionDto.Inicio) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-3 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.Final))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Nombre Acción @(sortColumn == nameof(LogMigracionDto.Final) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-4 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.ExcelFileName))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Ubicación Json @(sortColumn == nameof(LogMigracionDto.ExcelFileName) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>

        <article class="table-heading-5 table-heading-5 sortable-header" @onclick="() => OrdenarPor(nameof(LogMigracionDto.Observacion))">
            <div class="header-label">
                <div class="label-heading headingheadline5-h5">
                    Parametro Json @(sortColumn == nameof(LogMigracionDto.Observacion) ? (sortAscending ? Constantes.FLECHA_ARRIBA: Constantes.FLECHA_ABAJO) :  Constantes.VACIO)
                </div>
            </div>
        </article>
    </div>

    @if (listasHevd != null && listasHevd.Any())
    {
        <div class="content">
            @foreach (var item in PaginatedItems)
            {
                <div class="row">
                    <div class="componente">
                        <div class="row-1 row-12">
                            <div class="ads-rules-list">
                                <div class="cell">
                                    <div class="migration-id bodybody-small">@item.IdLogMigracion</div>
                                </div>
                                <div class="cell cell-1">
                                    <div class="esquema-vista bodybody-small">@item.EsquemaVista</div>
                                </div>
                                <div class="cell cell-1">
                                    <div class="status bodybody-small">@item.Estado</div>
                                </div>
                                <div class="cell cell-1">
                                    <div class="status bodybody-small">@item.Inicio</div>
                                </div>
                                <div class="cell cell-1">
                                    <div class="status bodybody-small">@item.Final</div>
                                </div>
                                <div class="cell cell-1 landing-page-3">
                                    <div class="file-name bodybody-small" style="width:225px !important">@item.ExcelFileName</div>
                                </div>
                                <div class="cell cell-1 landing-page-3">
                                    <p class="error-message bodybody-small">@item.Observacion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Controles de paginación -->
        <div class="pagination-container">
            <button class="btn btn-primary btn-sm" @onclick="PreviousPage" disabled="@(!CanGoPrevious)">
                ⏪
            </button>

            <span class="pagination-text inter-regular-normal-comet-14px">Página @CurrentPage de @TotalPages</span>

            <button class="btn btn-primary btn-sm" @onclick="NextPage" disabled="@(!CanGoNext)">
                ⏩
            </button>
        </div>

    }
    else
    {
        <p class="label valign-text-middle inter-regular-normal-comet-16px">No hay datos disponibles.</p>
    }
</div>
